body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.todo {
  cursor: pointer;
}

.todo--complete {
  text-decoration: line-through;
}

.filter .filter__item {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
